* {
    overflow: auto;
}
body {
    background-color: #f4f4f4;
    color: #333;
    font-family: "Avenir Next";
    font-size: 16px;
    padding: 50px;
}

header {
    background-color: #4CAF50;
    color: white;
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 1.5em 0;
    padding: 1.25em;
    text-align: center;
}
p {
    font-size: 1em;
    margin: 0 0 0.5em 0;
    padding: 0 0 0 0;
    text-align: justify;
}
header > p {
    font-size: 0.5em;
    margin: 0 0 0.25em 0;
    padding: 0 0 0 0;
    text-align: center;
}








/* code */

pre {
    border: 2px solid #7F7F7F;
    box-sizing: content-box;
    border-radius: 0.25em;
    margin: 0 0 0.5em 0;
    padding: 0.5em 1em 0.5em 1em;
    width: 100%;
}
.literal, header > a, pre {
    font-family: monospace;
    font-size: 0.875em;
    font-style: normal;
    font-weight: normal;
}
.signature .literal {
    display: block;
}
.signature > .literal {
    margin: 0.125em;
}








/* headings and details */


h1:not(.signature) {
    background-color: transparent;
    font-size: 1.75em;
    font-weight: normal;
    margin: 0 0 0.5em 0;
    padding: 0;
}
.detail1:not(.description) {
    margin: 0 0 2em 2em;
    padding: 0;
}
h2:not(.signature) {
    background-color: transparent;
    font-size: 1.625em;
    font-weight: normal;
    margin: 0 0 0.5em 0;
    padding: 0;
}
.detail2:not(.description) {
    font-size: 1em;
    margin: 0 0 1em 0;
    padding: 0;
}
.signature {
    background-color: #4CAF50;
    font-size: 1em;
    font-weight: normal;
    margin: 0 0 0.5em 0;
    padding: 0;
}
.description {
    font-size: 1em;
    margin: 0 0 0.5em 2em;
    padding: 0;
}











/* signature spans */
.signature-title {
    font-style: italic;
    font-weight: normal;
}
.signature-name {
    font-style: normal;
    font-weight: bold;
}
.signature-bracket {
    font-style: normal;
    font-weight: normal;
}
.signature-separator {
    font-style: normal;
    font-weight: normal;
}
.signature-plain {
    font-style: normal;
    font-weight: normal;
}
.signature-parameter {
    font-style: italic;
    font-weight: normal;
}






/* tables */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}
td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
th {
    
    border: 1px solid black;
    font-weight: bold;
    background-color: #f2f2f2;
    
    padding: 10px;
    text-align: left;
}

/* hidden */
.hidden {
  display: none !important;
}

/* container */
.container {
    background-color: #808080;
    border: none;
    border-left-width: 0.25em;
    border-left-style: solid;
    padding-left: 1em;
    padding-right: 1em;
}
.container > p > strong {
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
}
.versionadded {
    border-color: #4FC464;
}
.versionadded > p > strong {
    color: #4FC464;
}
.versionchanged {
    border-color: #F4E34C;
}
.versionchanged > p > strong {
    color: #F4E34C;
}