.left {
    font-size: 60%;
    width:auto;
}
.right {
    flex-grow: 1;
}

.borderless,
.borderless * {
  border: none !important;
  border-collapse: collapse; /* optional, for cleaner layout */
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-family: "Avenir Next";
    font-size: 16px;
    padding: 50px;
    
}

code {
    /*font-family: Menlo;*/
    font-size: 0.875em;
    font-weight: normal;
}

dl.heading0 > dt {
    background-color: #4CAF50;
    color: white;
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 1.5em 0;
    padding: 1.25em;
    text-align: center;
}
dl.heading0 > dd {
    margin: 0 0 2em 0;
    padding: 0;
}
dl.heading1 > dt {
    background-color: transparent;
    font-size: 1.75em;
    font-weight: normal;
    margin: 0 0 0.5em 0;
    padding: 0;
}
dl.heading1 > dd {
    margin: 0 0 2em 2em;
    padding: 0;
}

dl.heading2 {
    font-size: 1em;
    margin: 0 0 1em 0;
    padding: 0;
}
dl.heading2 > dt {
    background-color: transparent;
    font-size: 1.625em;
    font-weight: normal;
    margin: 0 0 0.5em 0;
    padding: 0;
}
dl.heading2 > dd {
    font-size: 1em;
    margin: 0 0 1em 0;
    padding: 0;
}
dl.heading4 {
    font-size: 1em;
    margin: 0;
    padding: 0;
}
dl.heading4 > dt {
    background-color: #4CAF50;
    font-size: 1em;
    font-weight: normal;
    margin: 0 0 0.5em 0;
    padding: 0 0 0 0; /* 0.5em; */
}
dl.heading4 > dt > ul {
    font-size: 1em;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
dl.heading4 > dt > ul > li {
    font-size: 1em;
    margin: 0;
    padding: 0;
}
dl.heading4 > dd {
    font-size: 1em;
    margin: 0 0 0.5em 2em;
    padding: 0;
}
dl.heading5 {
    font-size: 1em;
    margin: 0 0 1em 0;
    padding: 0;
}
dl.heading5 > dt {
    background-color: transparent;
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 0.25em 0;
    padding: 0;
}
dl.heading5 > dd {
    font-size: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
}

dl.impressum {
    font-size: 1em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
dl.impressum > dt {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 0.5em 0;
    padding: 0 0 0 0;
}
dl.impressum > dd {
    font-size: 1em;
    margin: 0 0 0.5em 2em;
    padding: 0 0 0 0;
}

div.leftaligned {
    text-align: left;
}
div.rightaligned {
    text-align: right;
}

em {
    font-size: 1em;
    font-style: normal;
}

h1 {
    font-size: 32px;
    font-weight: normal;
}
h2 {
    font-size: 26px;
    font-weight: normal;
}
h3 {
    font-size: 23px;
    font-weight: normal;
}
h4 {
    font-size: 14px;
    font-weight: normal;
    background-color: #4CAF50;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1.25em 0;
    margin-bottom: 2em;
    text-align: center;
}

nav {
    margin-top: 50px;
    font-size: 12px;
    color: #777;
}

nav ul {
    display: flex; 
    justify-content: space-between; 
    list-style-type:none; 
    padding: 0;
}
nav ul li:first-child {
    text-align: left;
    flex-grow: 1;
}
nav ul li:first-child > p {
    text-align: left;
}
nav ul li:last-child {
    text-align: right;
}
nav ul li:last-child > p {
    text-align: right;
}

p {
    font-size: 1em;
    margin: 0 0 0.5em 0;
    padding: 0 0 0 0;
    text-align: justify;
}
dt > p {
    font-size: 0.5em;
    margin: 0 0 0.25em 0;
    padding: 0 0 0 0;
    text-align: center;
}

pre {
    margin: 0 0 0.5em 0;
    padding: 0 1em 0 1em;
    font-size: 1em;
    border: 2px solid #7F7F7F;
    border-radius: 5px;
    width: 100%;
}
pre.block {
    margin: 0 0 0.5em 0;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 1em;
    border: 2px solid #7F7F7F;
    border-radius: 0.25em;
    width: auto;
    overflow-x: auto; 
}

/* Section and Content Styling */
section {
    padding-left: 2em;
}

strong {
    font-weight: normal;
    font-family: Menlo;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}
td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
th {
    
    border: 1px solid black;
    font-weight: bold;
    background-color: #f2f2f2;
    
    padding: 10px;
    text-align: left;
}


/* Back to Top Link */

.back-to-top a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}


.content {
    margin: 20px;
}


/* hidden */
.hidden {
  display: none !important;
}



/* Links on the Startpage */
.links {
    margin: 30px 0;
    text-align: center;
}
.links a {
    display: block;
    margin: 15px 0;
    font-size: 1.2em;
    color: #4CAF50;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.links a:hover {
    background-color: #4CAF50;
    color: white;
}

/* Minor */
.minor {
    background-color: #808080;
    border: none;
    border-left-width: 0.25em;
    border-left-style: solid;
    padding-left: 1em;
}
.minor > p > span {
    font-style: italic;
}
.minor-added {
    border-color: #4FC464;
}
.minor-added > p > span {
    color: #4FC464;
}
.minor-changed {
    border-color: #F4E34C;
}
.minor-changed > p > span {
    color: #F4E34C;
}

/* Navigation Links */
.navigation-links {
    text-align: center;
    margin-bottom: 20px;
}
.navigation-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

